.app {
  width: 95%;
  max-width: 1550px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}


.biblioteca-container {

  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.titulo {
   
 background-color: rgb(10, 90, 155);
 color: #ffffff;
 padding: 4rem;
 border-radius: 1rem;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 margin-top: 1rem;
 

}


.input-busqueda {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.formulario {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  max-width: 500px;



}

.formulario h3 {
  margin-bottom: 15px;
}

.fila {
  display: flex;
  gap: 10px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.btn-guardar {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-guardar:hover {
  background: #32da1c;
}

.lista-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

.juego-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.juego-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.juego-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}


.estadisticas {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  margin: 40px ;
  text-align: left;
}

.estadisticas h2 {
  margin-bottom: 15px;
}

.resenas{
  background-color: #b3b1b1;
  border-radius: 1rem;
  max-width: 650px;

}
